body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;

    padding: 0;
    margin: 0;

    background: #216886;
}


header {
    background-color: white;
    height: 100px;

    margin: 0;
    padding: 0;
}

.section {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.card_game_1 {
    height: 280px;
    width: 200px;

    border: solid;
    border-radius: 30px;
    border-color: #06435d;


    margin-top: 40px;
    margin-left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;


}


.card_game_1:hover {

    transition: 0.3s;
    box-shadow: 12px 12px 2px 1px rgba(215, 233, 227, 0.2);
}

.card_game_2 {
    height: 280px;
    width: 200px;

    border: solid;
    border-radius: 30px;
    border-color: #06435d;

    margin-top: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_game_2:hover {

    transition: 0.3s;
    box-shadow: 12px 12px 2px 1px rgba(215, 233, 227, 0.2);
}

.card_game_3 {
    height: 280px;
    width: 200px;

    border: solid;
    border-radius: 30px;
    border-color: #06435d;

    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_game_3:hover {

    transition: 0.3s;
    box-shadow: 12px 12px 2px 1px rgba(215, 233, 227, 0.2);
}

.card_game_4 {
    height: 280px;
    width: 200px;

    border: solid;
    border-radius: 30px;
    border-color: #06435d;

    margin-top: 200px;
    margin-left: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_game_4:hover {

    transition: 0.3s;
    box-shadow: 12px 12px 2px 1px rgba(215, 233, 227, 0.2);
}

.card_game_5 {
    height: 280px;
    width: 200px;

    border: solid;
    border-radius: 30px;
    border-color: #06435d;

    margin-top: 300px;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_game_5:hover {

    transition: 0.3s;
    box-shadow: 12px 12px 2px 1px rgba(215, 233, 227, 0.2);
}